project:
  type: website
  output-dir: docs

website:
  title: "DataFrame-Cookbook"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/math4mad/Dataframe-CookBook
      
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



